html {
  color:white;
  background-color: black;
}

body {
  /* overflow: hidden; */
}

.home {
  text-decoration-line: none;
  z-index: 20;
    position: relative; /* REQUIRED for z-index to work */
}

h1 {
  position: relative;
  left: 20px;
  font-size: 50px;
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
  margin: none;
  padding: none;
  text-decoration-line: none;
  z-index: 30;
  transition-timing-function: ease;
}

h1:hover {
  text-decoration-line: none;
}
  a {
  text-decoration-line: none;
  visibility: visible;
  opacity: 1;
  transition: 2s;
  z-index: 10;
}

a:hover {
opacity: 0;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#background img {
  position: absolute;
  width: 100%;
  z-index: 1;
}

#balloons {
  position: absolute;
  top: 20vh;
  left: 10vw;
  width: 50px;
  z-index: 100;  
}

.balloon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.text {
    position: absolute;
    top: 40vh;
    left: 48vw;
    z-index: 1000;
     font-size: 20px;
    width: 500px;
}

#button {
    position: relative;
}

.next-btn {
  position: fixed;
  top: 90vh;
  left: 93vw;
  width: 50px;
  z-index: 2000;
}

.prev-btn {
  position: fixed;
  top: 90vh;
  left: 2vw;
  width: 50px;
  z-index: 2000;
}