iframe {
  position: relative;
  left: 25%;
  top: 100px;
}

html {
  color:white;
  background-color: black;
}

#frame {
    position: absolute;
    top: 60px;
    left: 280px;
     width: 1200px;
    z-index: 1;

  }

#frame img {
   height: 600px;
   z-index: 1;
  }

  a {
      opacity: 0;
      text-decoration: none;
      font-size: 60px;
      z-index: 1000;
      position: relative;
      margin-left: 10px;
  }
  
  a:hover {
      opacity: 1;
  /* color: #4A5D23; */
  color: white;
  text-decoration-line: none;
  z-index: 1000;
  }