html {
    color:white;
    background-color: black;
  }
  
  a {
      opacity: 0;
      text-decoration: none;
      font-size: 60px;
      z-index: 1000;
      position: relative;
      margin-left: 10px;
  }
  
  a:hover {
      opacity: 1;
  color: white;
  text-decoration-line: none;
  z-index: 1000;
  }

 #home {
      position: absolute;
      z-index: 1000;
      top: 0px;
      left: 30px;
  }
  
  #background {
      position: relative;
      z-index: 1;
  }
  
  #background img {
      position: relative;
      z-index: 1;
      margin: 0px;
      top: 0px;
  }
  

/* how to I make it so that it moves when only hovered on the shilouette? */
  #change-color {
      position: absolute;
      z-index: 9;
      filter: hue-rotate(200deg);
      top: 15px;
      left: 214px;
      opacity: 0;
  }
  
  #change-color img{
      position: relative;
      z-index: 9;
      margin: 10px;
      top: 10px;
  }

  #change-color:hover {
    opacity:1;
  }
  

  
.floating {
      position: absolute;
      z-index: 10;
      top: -60px;
      left: -50px;
      opacity: 0;
      display: block;
  }
  
  .floating:hover {
  opacity: 1;
  }

  
  .cat{
    position: absolute;
    left: 50px;
    top: 580px;
    width: 100px;
      height: auto;
      z-index: 10;
      margin: 0px;
      padding: 0px;
  }

  .magazine{
  width: 400px;
      height: auto;
      position: absolute;
      top: 790px;
      left: 700px;
      z-index: 10;
      margin: 0px;
      padding: 0px;
  }

