iframe {
  position: relative;
  left: 20%;
  top: 100px;
  z-index: 10;
}


html {
  color:white;
  background-color: black;
}


  a {
      opacity: 0;
      text-decoration: none;
      font-size: 60px;
      z-index: 1000;
      position: relative;
      margin-left: 10px;
  }
  
  a:hover {
      opacity: 1;
  /* color: #4A5D23; */
  color: white;
  text-decoration-line: none;
  z-index: 1000;
  }

#frame {
    position: absolute;
    top: 160px;
    left: 245px;
     width: 1210px;
  }

#frame img {
   height: 550px;
   z-index: 1;
  }

section {
  opacity: 0;
}

section:hover {
  opacity: 1;
}

  /* button for next entry */
#button1 {
position: absolute;
top: 205px;
left: 980px;
z-index: 1000;
transform: rotate(45deg);
}

/* button for previous entry */
#button2 {
position: absolute;
top: 365px;
left: 1055px;
z-index: 1000;
}

/* text for buttons */
#next {
  position: absolute;
  top: 250px;
  left: 1180px;
}

#previous {
  position: absolute;
  top: 375px;
  left: 1180px;
}

  h2 {
  font-size: 30px;
  color: white;
  z-index: 100;
  position: absolute;
top: 60px;
left: 45%;
}