html {
    color:white;
    background-color: black;
    max-height: 400px;
  }
  
h1 {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 40px;
  z-index: 2000;
}

h1 a {
  opacity: 0;
  text-decoration: none;
  font-size: 60px;
  color: white;
  transition: opacity .3s ease;
}

h1 a:hover {
  opacity: 1;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}
  
main {
      position: relative;
      z-index: -100;
  }
  
  main img {
      position: relative;
      z-index: -100;
      margin: 0px;
      top: 0px;
  }
  

  #cat1 img {
    width: 150px;
    position: relative;
    top: -300px;
    left: 100px;
    z-index: 10;
  }

  #cat2 img { 
    position: relative;
    z-index: 12;
    width: 600px;
    top: -600px;
    left: 700px;
  }

  #cat3 img{
    position: relative;
    z-index: 13;
    width: 200px;
    top: -670px;
    left: -300px;
  }

    #cat4 img {
    position: relative;
    z-index: 14;
    width: 230px;
    top: -860px;
    left: 50px;
  }

    #cat5 img {
    position: relative;
    z-index: 15;
    width: 200px;
    top: -960px;
    left: -630px;
  }

section {
  display: flex;
}

div {
  visibility: hidden;
}

.text {
    position: absolute;
    top: 40vh;
    left: 44vw;
    z-index: 1000;
     font-size: 20px;
    width: 500px;
    z-index: 1000;
}