html {
    color:white;
    background-color: black;
  }
  
  a {
      opacity: 0;
      text-decoration: none;
      font-size: 60px;
      z-index: 100;
      position: relative;
  }
  
  a:hover {
      opacity: 1;
  /* color: #4A5D23; */
  color: white;
  text-decoration-line: none;
  z-index: 100;
  }

 #home {
      position: absolute;
      z-index: 100;
      top: 0px;
      left: 30px;
  }
  
  #background {
      position: relative;
      z-index: 1;
  }
  
  #background img {
      position: absolute;
      z-index: 1;
      margin: 0px;
      top: 0px;
  }
  
  
/* .floating {
      position: relative;
      z-index: 10;
      top: -60px;
      left: -50px;
      opacity: 0;
      display: block;
  }
  
  .floating:hover {
  opacity: 1;
  } */
  


  #cats {
    position: absolute;
    z-index: 10;
  }

  #cat1 {
    position: relative;
    width: 500px;
    top: 350px;
    left: 700px;
    z-index: 10;
        margin: 0;
    padding: 0;
  }

  #cat2 {
    position: relative;
    z-index: 12;
        margin: 0;
    padding: 0;
  }

  #cat3 {
    position: relative;
    z-index: 13;
    width: 350px;
    top: -1000px;
    left: 360px;
        margin: 0;
    padding: 0;
  }

    #cat4 {
    position: relative;
    z-index: 14;
    width: 530px;
    top: -1240px;
    left: 700px;
    margin: 0;
    padding: 0;

  }

    #cat5 {
    position: relative;
    z-index: 15;
    width: 500px;
    top: -1310px;
    left: -370px;
        margin: 0;
    padding: 0;
  }

