html {

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
color: #39FF14
}

iframe {
  left: 100px;
}

body {
  /* Set a linear gradient as the background image */
  background: linear-gradient(
    to right, /* Direction of the gradient, e.g., to right, to bottom, or an angle like 45deg */
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  /* Ensure the background covers the entire viewport */
  min-height: 100vh;
}