html {
  color:white;
  background-color: black;
}

body {
  /* overflow: hidden; */
}

iframe {
  position: relative;
  left: 20%;
  top: 100px;
  z-index: 10;
}

/* title */
#home h1 a {
  opacity: 0;
  text-decoration: none;
  font-size: clamp(2rem, 6vw, 3.5rem);
  margin-left: 15px;
  position: relative;
  color: white;
}

#home h1 a:hover {
  opacity: 1;
}

#frame {
    position: relative;
    top: -370px;
    left: 250px;
     width: 1200px;
     max-width: 90%;

  }

#frame img {
   height: 570px;
   /* display: none; */
   z-index: 1;
  }


#button1 {
  position: relative;
  top: 100px;
  left: 75vw;
z-index: 10;
  }

#button2 {
position: relative;
top: -680px;
left: 75vw;
z-index: 10;
}

.button1 {
  opacity: 0;
}

.button1:hover {
opacity: 1;
}

.button2 {
  opacity: 0;
}

.button2:hover {
opacity: 1;
}

h2 {
  font-size: 30px;
  color: white;
  z-index: 100;
  position: absolute;
top: 60px;
left: 47%;
}

p {
  font-size: 20px;
  color: white;
  z-index: 100;
  position: absolute;
}


#next {
  font-size: 20px;
  color: white;
  z-index: 100;
  position: absolute;
top: 430px;
left: 86%;
}

#previous {
  font-size: 20px;
  color: white;
  z-index: 100;
  position: absolute;
top: 530px;
left: 86%;
}
