html {
  color:white;
  background-color: black;
}

body {
  /* overflow: hidden; */
}

iframe {
  position: relative;
  left: 20%;
  top: 100px;
  z-index: 10;
  visibility: hidden;
}

/* title */
#home h1 a {
  opacity: 1;
  text-decoration: none;
  font-size: clamp(2rem, 6vw, 3.5rem);
  margin-left: 10px;
  position: relative;
  color: white;
}

#home h1 a:hover {
  opacity: 0;
}

.home {
  text-decoration-line: none;
}


h1 {
  position: relative;
  left: 10px;
  font-size: 50px;
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  padding: 5px;
  text-decoration-line: none;
  transition-timing-function: ease;
}

h1:hover {
  text-decoration-line: none;
}

  a {
  text-decoration-line: none;
  visibility: visible;
  opacity: 1;
  transition: 2s;
  /* text-shadow: 0.5px 0.5px 1px #000000; */
}


#frame {
  position: absolute;     /* important: makes layout consistent */
  top: 17vh;              /* adjusts vertically with screen height */
  left: 18vw;             /* adjusts horizontally with screen width */
  width: 80vw;            /* keeps it responsive */
  max-width: 1200px;      /* preserves your large-desktop size */
  z-index: 1;
}

#frame img {
  width: 100%;            /* scale to container */
  height: auto;           /* prevent warping */
}


#button1 {
  position: absolute;
  top: 55vh;
  left: 75vw;
  z-index: 1000;
    width: 15vw;
  max-width: 200px;   /* never gets too wide */
  min-width: 80px;    /* never gets too small */
  height: auto;
}

#button2 {
  position: absolute;
  top: 35.5vh;
  left: 25vw;
  z-index: 1000;
}

.button1 {
  /* opacity: 0; */
}

.button1:hover {
opacity: 1;
}

.button2 {
  /* opacity: 0; */
}

.button2:hover {
opacity: 1;
}

h2 {
  position: absolute;
  top: 5vh;       /* vertical responsive offset */
  left: 45vw;     /* horizontal responsive offset */
  font-size: 2.2rem;
  color: white;
  z-index: 100;
}

p {
  font-size: 20px;
  color: white;
  z-index: 100;
  position: absolute;
}


#next {
  font-size: 20px;
  color: white;
  z-index: 100;
  position: absolute;
top: 430px;
left: 86%;
}

#previous {
  font-size: 20px;
  color: white;
  z-index: 100;
  position: absolute;
top: 530px;
left: 86%;
}

@media (max-width: 1024px) {
  #frame {
    top: 8vh;
    left: 5vw;
    width: 90vw;
  }

  h2 {
    top: 6vh;
    left: 35vw;
    font-size: 1.9rem;
  }
}

}

@media (max-width: 600px) {
  #frame {
    top: 5vh;
    left: 0;
    width: 100vw;
  }

    h2 {
    top: 4vh;
    left: 25vw;
    font-size: 1.6rem;
  }
}