iframe {
  position: relative;
  left: 20%;
  top: 100px;
  z-index: 10;
}


html {
  color:white;
  background-color: black;
}

body {
  overflow: hidden;
}

  a {
      opacity: 0;
      text-decoration: none;
      font-size: 60px;
      z-index: 1000;
      position: relative;
      margin-left: 10px;
  }
  
  a:hover {
      opacity: 1;
  /* color: #4A5D23; */
  color: white;
  text-decoration-line: none;
  z-index: 1000;
  }

#frame {
    position: relative;
    top: -370px;
    left: 250px;
     width: 1200px;

  }

#frame img {
   height: 570px;
   /* display: none; */
   z-index: 1;
  }

#button1 {
position: relative;
top: -675px;
left: 1070px;
z-index: 10;
  }


#button2 {
  position: relative;
top: -680px;
left: 1065px;
z-index: 10;
}

.button {
  opacity: 0;
}

.button:hover {
opacity: 1;
}