html {
  color:white;
  background-color: black;
}

/* title */
#home h1 a {
  opacity: 1;
  text-decoration: none;
  font-size: clamp(2rem, 6vw, 3.5rem);
  margin-left: 10px;
  position: relative;
  color: white;
}

#home h1 a:hover {
  opacity: 0;
}

.home {
  text-decoration-line: none;
}


h1 {
  position: relative;
  left: 10px;
  font-size: 50px;
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  padding: 5px;
  text-decoration-line: none;
  transition-timing-function: ease;
}

h1:hover {
  text-decoration-line: none;
}

  a {
  text-decoration-line: none;
  visibility: visible;
  opacity: 1;
  transition: 2s;
  /* text-shadow: 0.5px 0.5px 1px #000000; */
}

iframe {
  position: relative;
  left: 20%;
  top: 100px;
  z-index: 10;
}


html {
  color:white;
  background-color: black;
}

body {
  overflow: hidden;
}

  a {
      opacity: 0;
      text-decoration: none;
      font-size: 60px;
      z-index: 1000;
      position: relative;
      margin-left: 10px;
  }


#frame {
    position: relative;
    top: -370px;
    left: 250px;
     width: 1200px;

  }

#frame img {
   height: 570px;
   /* display: none; */
   z-index: 1;
  }

#button1 {
position: relative;
top: -675px;
left: 1070px;
z-index: 10;
  }


#button2 {
  position: relative;
top: -680px;
left: 1065px;
z-index: 10;
}

.button1 {
  opacity: 0;
}

.button1:hover {
opacity: 1;
}

.button2 {
  opacity: 0;
}

.button2:hover {
opacity: 1;
}

h2 {
  font-size: 30px;
  color: white;
  z-index: 100;
  position: absolute;
top: 60px;
left: 47%;
}

p {
  font-size: 20px;
  color: white;
  z-index: 100;
  position: absolute;
}


#next {
  font-size: 20px;
  color: white;
  z-index: 100;
  position: absolute;
top: 430px;
left: 86%;
}

#previous {
  font-size: 20px;
  color: white;
  z-index: 100;
  position: absolute;
top: 530px;
left: 86%;
}