* > {
  box-sizing: border-box;

}

  img {
    width: 300px;
    height: 225px;
  }

.container {
  display: flex;
  flex-wrap: wrap;
}

.container div {
  margin: 10px;
  margin-bottom: 0px;
  padding: 15px;
}

.footer {
  color: black;
  border-style: hidden;
  border-width: 2px;
  position: relative;
  bottom: 0px;
}

#footer-text {
  display: flex;
  height: 10px;
  text-align: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
  justify-content: space-between;
  position: relative;
  bottom: 0px;
}

    .image-hover-container {
        width: 330px;
        height: 225px;
        /* background-image: url('../archive/entry1.png'); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* transition: background-image 0.3s ease-in-out; */
    }

        .image-hover-container:hover {
        background-image: url('../archive/entry1.png');
    }


  html {
    background-color: whitesmoke;
  }