* > {
  box-sizing: border-box;

}

  img {
    width: 300px;
    height: 225px;
  }

.container {
  display: flex;
  flex-wrap: wrap;
}

.container div {
  margin: 10px;
  margin-bottom: 0px;
  padding: 15px;
}

.footer {
  color: black;
  border-style: hidden;
  border-width: 2px;
  position: relative;
  /* bottom: 0px; */
}

#footer-text {
  display: flex;
  height: 10px;
  text-align: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
}

a {

}

a:hover {

}



@media (max-width: 768px) {
    div {
      /* background-color: gold; */
    }
    section {
      flex-direction: column;
    }
  }
