* > {
  box-sizing: border-box;

}

.home {
  text-decoration-line: none;
}


h1 {
  position: relative;
  left: 10px;
  font-size: 50px;
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  padding: 5px;
  text-decoration-line: none;
}

h1:hover {
  text-decoration-line: none;
}

img {
    width: 300px;
    height: 225px;
}

img:hover {
opacity: 1;
        position: relative;
        width: 300px;
        height: auto;
        top: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  padding-top: 0px;
}

.container div {
  margin: 10px;
  margin-bottom: 0px;
  padding: 15px;
  position: relative;
  z-index: 10;
}

/* .hover-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 5;
}

.hover-container img{
  margin: 10px;
  margin-bottom: 0px;
  padding: 15px;
  position: relative;
  z-index: 5;
} */


.footer {
  color: black;
  border-style: hidden;
  border-width: 2px;
  position: relative;
}

#footer-text {
  display: flex;
  height: 10px;
  text-align: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
  justify-content: space-between;
  position: relative;
  bottom: 0;
}

  html {
    background-color: whitesmoke;
  }