html {
  color:white;
  background-color: black;
}

h1 {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 40px;
  z-index: 2000;
}

h1 a {
  opacity: 0;
  text-decoration: none;
  font-size: 60px;
  color: white;
  transition: opacity .3s ease;
}

h1 a:hover {
  opacity: 1;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

#background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.maps {
  width: 210px;
  left: 1065px;
  top: 435px;
}

.face1 {
  width: 350px;
  left: 90px;
  top: 120px;
}

.face2 {
  width: 310px;
  left: 440px;
  top: 670px;
}

.face3 {
  width: 300px;
  left: 535px;
  top: 300px;
}

.face4 {
  width: 250px;
  left: -190px;
  top: 900px;
}

.maps,
.face1,
.face2,
.face3,
.face4 {
  opacity: 0;
  transition: opacity .4s ease;
  position: absolute;
  z-index: 100;
}

/* Hover: become visible */
.maps:hover,
.face1:hover,
.face2:hover,
.face3:hover,
.face4:hover {
  opacity: 1;
}

.next-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  z-index: 3000;
}

.prev-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 50px;
  z-index: 3000;
}

.text {
    position: absolute;
    top: 40vh;
    left: 45vw;
    z-index: 1000;
     font-size: 20px;
    width: 500px;
}