html {
  color:white;
  background-color: black;
}

a {
    opacity: 0;
    text-decoration: none;
    font-size: 60px;
}

a:hover {
    opacity: 100;
color: white;
text-decoration-line: none;
}

#background {
    position: relative;
    z-index: 0;
}

#background img {
    /* width: 1430px;
    height: 750px; */
    position: relative;
    z-index: -5;
    margin: 0px;
    top: 0px;
}
h1 {
position: absolute;
top: 10px;
left: 30px;
font-size: 40px;
}

.floating {
    position: absolute;
    z-index: 5;
    top: 100px;
    left: 100px;
    opacity: 0;
    display: block;
}



.floating:hover {
opacity: 1;
}

.text {
    position: absolute;  /* Required for z-index to work */
    z-index: 10;         /* Higher than .floating (5) so it appears on top */
    /* You can also set top/left here if needed for positioning */
    top: 230px;
    left: 250px;
}

p {
    position: absolute;
    font-size: 12px;
    max-width: 50px;
}

.maps{
width: 210px;
    height: auto;
    position: absolute;
    z-index: 2;
    margin: 0px;
    padding: 0px;
    left: 1065px;
    top: 435px;
}

.face1{
width: 350px;
    height: auto;
    position: absolute;
    z-index: 2;
    margin: 0px;
    padding: 0px;
    left: 90px;
    top: 120px;
}

.face2{
width: 310px;
    height: auto;
    position: absolute;
    z-index: 2;
    margin: 0px;
    padding: 0px;
    left: 440px;
    top: 670px;
}

.face3{
width: 300px;
    height: auto;
    position: absolute;
    z-index: 2;
    margin: 0px;
    padding: 0px;
    left: 535px;
    top: 10px;
}

.face4{
width: 250px;
    height: auto;
    position: absolute;
    z-index: 2;
    margin: 0px;
    padding: 0px;
    left: -190px;
    top: 900px;
}

.next-btn {
position: absolute;
width: 50px;
height: auto;
top: 90vh;
left: 93vw;
}

.prev-btn {
position: absolute;
width: 50px;
height: auto;
top: 90vh;
left: 2vw;
}