@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&family=Coral+Pixels&family=Funnel+Display:wght@300..800&family=Rubik+Pixels&display=swap');

.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 80px;
  font-family: Coral Pixels;
}