* > {
  box-sizing: border-box;

}

html {
/* padding-left: 50px;
padding-top: 10px; */
font-family: Helvetica, sans-serif;
font-weight: lighter;
font-size: 40px;
max-width: 1250px;
}

#overlay {
    background-color: #EEEEEE;
    position: absolute;
    z-index: -1;
}

iframe {
left: 100px;
  max-height: 100px;
    background-color: #ffffff;
    position: absolute;
    z-index: -1;
}

a {
color: black;
text-decoration-line: none;
}

a:hover {
color: #39FF14
}



h1 {
padding-left: 100px;
font-family: Helvetica, sans-serif;
font-weight: lighter;
font-size: 40px;
color: black;
}

h2 {

}

h3,ul {

}