@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&family=Coral+Pixels&family=Funnel+Display:wght@300..800&family=Rubik+Pixels&display=swap');

.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

body {
/* max-width: 1200px; */
position: relative;
top: 100px;
}

h1 {
  font-size: 170px;
  font-family: "Coral Pixels", serif;
    font-weight: 400;
  font-style: normal;
  margin: 10px;
  margin-top: 50px;
  padding: 15px;
  left: 30px;
}

h2 {
  font-size: 50px;
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  padding: 10px;
  position: relative;
  left: 30px;
}

p {
    font-size: 30px;
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  padding: 10px;
  position: relative;
  left: 30px;
}

a {
  text-decoration-line: none;
  visibility: visible;
  opacity: 1;
  transition: 2s;
  /* text-shadow: 0.5px 0.5px 1px #000000; */
}

h1, h2 {transition-timing-function: ease;}

a:hover {
opacity: 0;
}

html {
  background-color: whitesmoke;
}