@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&family=Coral+Pixels&family=Funnel+Display:wght@300..800&family=Rubik+Pixels&display=swap');

.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

body {
/* max-width: 800px; */
}

h1 {
  font-size: 170px;
  font-family: "Coral Pixels", serif;
    font-weight: 400;
  font-style: normal;
  margin: 10px;
  margin-top: 50px;
  padding: 15px;
  left: 30px;
}

h2 {
  font-size: 60px;
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  padding: 10px;
  left: 30px;
}

a {
  text-decoration-line: none;
}

a:hover {
color: #39FF14
}