html {
  color:white;
  background-color: black;
}

body {
  /* overflow: hidden; */
}

h1 {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 40px;
  z-index: 2000;
}

h1 a {
  opacity: 0;
  text-decoration: none;
  font-size: 60px;
  color: white;
  transition: opacity .3s ease;
}

h1 a:hover {
  opacity: 1;
}

 #home {
      position: absolute;
      z-index: 1000;
      top: 0px;
      left: 30px;
  }

#background {
    position: absolute;
    z-index: 0;
}

#background img {
    position: relative;
    z-index: -5;
    margin: 0px;
    top: 0px;
}

.floating {
    position: absolute;
    z-index: 5;
    top: 100px;
    left: 100px;
    opacity: 0.8;
}

.floating img {
    width: 200px;
    height: auto;
    position: relative;
    z-index: 2;
    margin: 0px;
}

.button {
    position: relative;
}

.next-btn {
  position: fixed;
  top: 90vh;
  left: 93vw;
  width: 50px;
  z-index: 2000;
}

.prev-btn {
  position: fixed;
  top: 90vh;
  left: 2vw;
  width: 50px;
  z-index: 2000;
}

#text1 {
    position: absolute;
    top: 30vh;
    left: 10vw;
    z-index: 10;
     font-size: 20px;
    width: 500px;
}

#text2 {
    position: absolute;
    top: 60vh;
    left: 80vw;
    z-index: 10;
     font-size: 20px;
    width: 300px;
}

#text3 {
    position: absolute;
    top: 100vh;
    left: 40vw;
    z-index: 10;
     font-size: 20px;
    width: 300px;
}