iframe {
  position: relative;
  left: 22%;
  top: 70px;
  z-index: 10;
}

html {
  color:white;
  background-color: black;
}

body {
  overflow: hidden;
}

  h1 a{
      opacity: 0;
      text-decoration: none;
      font-size: 60px;
      z-index: 1000;
      position: relative;
      margin-left: 20px;
  }
  
  h1:hover a{
  opacity: 1;
  color: white;
  text-decoration-line: none;
  z-index: 1000;
  }


#frame {
    position: relative;
    top: -430px;
    left: 250px;
     width: 1210px;
  }

#frame img {
   height: 640px;
   z-index: 1;
  }

h2 {
  font-size: 30px;
  color: white;
  z-index: 100;
  position: absolute;
top: 20px;
left: 45%;
}

h2 {
  font-size: 30px;
  color: white;
  z-index: 100;
  position: absolute;
top: 20px;
left: 45%;
}

/* button for next entry */
#button1 {
position: absolute;
top: 170px;
left: 985px;
z-index: 1000;
}

/* button for previous entry */
#button2 {
position: absolute;
top: 290px;
left: 985px;
z-index: 1000;
}

section {
  opacity: 0;
}

section:hover {
  opacity: 1;
}


/* text for buttons */
#next {
  position: absolute;
  top: 190px;
  left: 1180px;
}

#previous {
  position: absolute;
  top: 335px;
  left: 1180px;
}