html {
  color:white;
  background-color: black;
}

h1 {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 60px;
  width: 100px;
  z-index: 2000;
}

h1 a {
  opacity: 0;
  text-decoration: none;
  font-size: 60px;
  color: white;
  transition: opacity .3s ease;
}

h1 a:hover {
  opacity: 1;
}


#background {
    position: absolute;
    z-index: -5;
}

#background img {
    position: relative;
    z-index: -5;
    margin: 0px;
    top: 0px;
}

.floating {
    position: absolute;
    z-index: 5;
    top: 100px;
    left: 100px;
    opacity: 0.8;
}

.floating-img {
    width: 200px;
    height: auto;
    position: relative;
    z-index: 2;
    margin: 0px;
}

#text1 {
    position: absolute;
    top: 20vh;
    left: 30vw;
    z-index: 10;
     font-size: 20px;
    width: 600px;
}

#text2 {
    position: absolute;
    top: 30vh;
    left: 10vw;
    z-index: 10;
    font-size: 15px;
        width: 200px;
}

#text3 {
    position: absolute;
    top: 70vh;
    left: 60vw;
    z-index: 10;
    font-size: 15px;
        width: 200px;
}


.next-btn {
  position: fixed;
  top: 90vh;
  left: 93vw;
  width: 50px;
  z-index: 2000;
}

.prev-btn {
  position: fixed;
  top: 90vh;
  left: 2vw;
  width: 50px;
  z-index: 2000;
}