html {
  color:white;
  background-color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
color: #39FF14
}

img {
width: 1430px;
height: 750px;
    position: relative;
    z-index: -5;
    margin: 0px;
    top: 0px;
}

h1 {
position: absolute;
top: 10px;
left: 30px;
font-size: 40px;
}

span {
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 1;
}