html {
  color:white;
  background-color: black;
}

  h1 a{
      opacity: 0;
      text-decoration: none;
        color: white;
      font-size: 60px;
      z-index: 1000;
      position: relative;
      margin-left: 20px;
  }
  
  h1 a:hover {
      opacity: 1;
  color: white;
  text-decoration-line: none;
  z-index: 1000;
  }

 #home {
      position: absolute;
      z-index: 1000;
      top: 0px;
      left: 30px;
  }

#background {
    position: absolute;
    z-index: -5;
}

#background img {
    position: relative;
    z-index: -5;
    margin: 0px;
    top: 0px;
}

.floating {
    position: absolute;
    z-index: 5;
    top: 100px;
    left: 100px;
    opacity: 0.8;
}

.floating-img {
    width: 200px;
    height: auto;
    position: relative;
    z-index: 2;
    margin: 0px;
}

.text {
    position: absolute;
    z-index: 10;


}

#text1 {
    position: absolute;
    top: 20vh;
    left: 30vw;
    z-index: 10;
     font-size: 20px;
    width: 600px;
}

#text2 {
    position: absolute;
    top: 30vh;
    left: 10vw;
    z-index: 10;
    font-size: 15px;
        width: 200px;
}


.next-btn {
position: absolute;
width: 50px;
height: auto;
top: 90vh;
left: 93vw;
}

.prev-btn {
position: absolute;
width: 50px;
height: auto;
top: 90vh;
left: 2vw;
}