html {
  color:white;
  background-color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
color: #4A5D23;
text-decoration-line: underline;
}

#background {
    position: relative;
    z-index: 0;
}

#background img {
    /* width: 1430px;
    height: 750px; */
    position: relative;
    z-index: -5;
    margin: 0px;
    top: 0px;
}
h1 {
position: absolute;
top: 10px;
left: 30px;
font-size: 40px;
}

.floating {
    position: absolute;
    z-index: 5;
    top: 100px;
    left: 100px;
    opacity: 0.8;
}

.floating img {
    width: 200px;
    height: auto;
    position: relative;
    z-index: 2;
    margin: 0px;
}

p {
    position: absolute;
    top: 200px;
    left: 250px;
    font-size: 12px;
    max-width: 50px;
    z-index: 3;
}