iframe {
  position: relative;
  left: 26.5%;
  top: 40px;
    z-index: 10;
}

html {
  color:white;
  background-color: black;
}

body {
  overflow: hidden;
}

#frame {
    position: absolute;
    top: 60px;
    left: 280px;
     width: 1200px;
    z-index: 1;

  }

#frame img {
   height: 730px;
   z-index: 1;
  }

  a {
      opacity: 0;
      text-decoration: none;
      font-size: 60px;
      z-index: 1000;
      position: relative;
     margin-left: 10px;
  }
  
  a:hover {
      opacity: 1;
  color: white;
  text-decoration-line: none;
  z-index: 1000;
  }

  h2 {
  font-size: 30px;
  color: white;
  z-index: 100;
  position: absolute;
top: 0px;
left: 45%;
}

#remote {
  z-index: 100;
  position: relative;
  top:-200px;
}

#remote img {
  position: relative;
    left:1150px;
    z-index: 100;
}

#next {
  font-size: 20px;
  color: white;
  z-index: 10000;
  position: absolute;
top: 445px;
left: 85.5%;
}

#previous {
  font-size: 20px;
  color: white;
  z-index: 10000;
  position: absolute;
top: 495px;
left: 85.5%;
}


#previous:hover {
opacity: 1;
}

#next:hover {
opacity: 1;
}
@media (max-width: 1024px) {
  iframe {
    left: 15%;
    width: 70%;
  }

  #frame {
    left: 10%;
    width: 80%;
  }

  #frame img {
    width: 100%;
    height: auto;
  }

  #remote img {
    left: 75%;
  }

  #next, #previous {
    left: 80%;
  }
}

@media (max-width: 768px) {
  iframe {
    left: 5%;
    width: 90%;
    top: 30px;
  }

  #frame {
    left: 5%;
    width: 90%;
    top: 40px;
  }

  h2 {
    left: 50%;
    font-size: 24px;
  }

  #remote img {
    left: 70%;
  }

  #next {
    top: 380px;
    left: 72%;
  }

  #previous {
    top: 430px;
    left: 72%;
  }
}

@media (max-width: 480px) {
  body {
    overflow: auto;
  }

  iframe {
    left: 5%;
    width: 90%;
    top: 20px;
  }

  #frame {
    left: 5%;
    width: 90%;
    top: 20px;
  }

  h2 {
    left: 50%;
    font-size: 20px;
  }

  #remote img {
    left: 60%;
  }

  #next {
    top: 300px;
    left: 65%;
    font-size: 16px;
  }

  #previous {
    top: 350px;
    left: 65%;
    font-size: 16px;
  }
}
